.root {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-box-border: transparent;
    -fx-padding:0;

}
.scroll-pane  {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-box-border: transparent;
    -fx-background-color: transparent;
}

.scroll-pane > .viewport {
    -fx-box-border: transparent;
    -fx-background-color: transparent;
}
.button {
    -fx-cursor:hand;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-insets: 0;
}
.text{
    -fx-font-smoothing-type: gray;
}
.label {
    -fx-font-smoothing-type: gray;
    -fx-font-weight:bold;
}
.main-bg-color {
    -fx-background-color: #222b2e;
}

.lbl-white {
    -fx-text-fill:#fff;
}
.lbl-gray {
    -fx-text-fill:#d3d3d3;
}

.lbl-h1 {
    -fx-font-size:26;
}
.lbl-h2 {
    -fx-font-size:22;
}
.lbl-h3 {
    -fx-font-size:18;
}
.lbl-h4 {
    -fx-font-size:16;
}
.lbl-h5 {
    -fx-font-size:13;
}
.lbl-small {
    -fx-font-size:9;
}

/* popup styles */
.popup-overlay {
    -fx-background-color:#000;
    -fx-opacity: 0.3;

}



/* side bar styles */
.sidebar{
    -fx-background-color:   linear-gradient(#1d272e 0%, #1f2429 20%, #191d22 100%),
    linear-gradient(#1d272e, #191d22),
    radial-gradient(center 50% 0%, radius 100%, rgba(52, 51, 51, 0.9), rgba(255,255,255,0));
}
.sidebar-user-btn{
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-text-fill: #b8b1b1;
}

.sidebar-btn{
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-text-fill: #b8b1b1;
    -fx-cursor:hand;
}
.sidebar-btn:hover{
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-text-fill: #b8b1b1;
    -fx-border-color: #163e4d;
    -fx-border-width: 0px 0px 0px 5px;
}

/*.sidebar-btn:pressed .label{ // bug var, ilk butona basıldıgında unpressed haline dönmüyor renk
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-text-fill: #163e4d;
}*/
.sidebar-btn:pressed .sidebar-btn-icon{
    -fx-fill: #23647a;
}

.sidebar-btn-icon{
    -fx-fill: #b8b1b1;
}

.sidebar-no-text-btn {
    -fx-background-color: transparent;
    -fx-cursor:hand;
    -fx-padding:10;
    -fx-background-radius: 5px;
}
.sidebar-no-text-btn:hover {
    -fx-background-color: #163e4d;
}
.sidebar-no-text-btn-icon{
    -fx-fill: #b8b1b1;
}

/* Top-Bar styles */
.top-bar {
    -fx-background-color:#232a2e;
}
.top-bar .nav-btn {
    -fx-pref-width:40;
    -fx-pref-height:40;
    -fx-background-color:#52656e;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 10, 0, 2, 2);
}
.top-bar .nav-btn:hover {
    -fx-background-color: #5f7780;
}
.top-bar .nav-btn:pressed .icon {
    -fx-fill: #000000;
}
.top-bar .nav-btn .icon {
    -fx-fill:#1a2025;
}

/* Alarm-Bar styles */
.alarm-bar{
    -fx-background-color:transparent;

}
.alarm-bar .content {
    -fx-background-color:#242b2f;
    -fx-background-radius:0 0 4 4;
    -fx-border-color: radial-gradient(center 50% 0%, radius 50%, #34c3d4, #242b2f);
    -fx-border-width:1 0 0 0 ;

}


/* Main wrapper */
.main-wrapper {
    -fx-background-color:   linear-gradient(#0a1015 0%, #1f2429 20%, #191d22 100%),
    linear-gradient(#0a1015, #191d22),
    radial-gradient(center 50% 0%, radius 100%, rgba(35, 44, 47, 0.9), rgba(255,255,255,0));
    /*-fx-padding:10;*/
}


/* Content controller styles */
.content-container {
    /*-fx-background-color:   linear-gradient(#0a1015 0%, #1f2429 20%, #191d22 100%),
    linear-gradient(#0a1015, #191d22),
    radial-gradient(center 50% 0%, radius 100%, rgba(35, 44, 47, 0.9), rgba(255,255,255,0));*/
    -fx-padding:10;
    -fx-background-color: transparent;
}

.content-container .title {

}

.titled-pane.s1 > .title {
    -fx-background-color:   linear-gradient(#293034 30%, #181f24 100%);

}
.titled-pane.s1 > .title .text {
    -fx-fill:#d3d3d3;
}
.titled-pane.s1:focused > .title {
    -fx-color: -fx-focus-color;
}
.titled-pane.s1 > *.content {
    -fx-background-color: #14171c;
}
.titled-pane.s1 .split-pane-divider {
    -fx-background-color:#292f33;
    -fx-border:none;
}

.project-thumb {
    -fx-cursor:hand;
    -fx-background-color:#000;
    -fx-background-radius: 3;
}

.project-thumb .image-view {
    -fx-opacity:0.3;
}
.project-thumb:hover .image-view {
    -fx-opacity:0.5;
}

.sensor {
    -fx-cursor:hand;
}

.sensor .label {

    -fx-font-size:12;
    -fx-border-width:2;
    -fx-border-color:#fff;
    -fx-text-fill:#ff0000;

}
.sensor .icon {

}

.pce-wrapper .titled-pane {
    -fx-pref-width:250;

}

/* Project Canvas styles */
.pce-workspace {
    -fx-background-color:#323537;
}
.pce-prop-label {
    -fx-pref-width:60;
    -fx-font-weight:none;
    -fx-text-fill: #d3d3d3;
    -fx-font-size:11;
}

